@import url('./../../styles/variables.css');

.LgButton {
    height: calc(var(--default-lgButton-size) / 2);
    width: calc(var(--default-lgButton-size) + 3px);

    font-size: 32px;
    
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
    transition: 0.3s;
}

.LgButton:hover {
    opacity: 0.9;
    border-radius: 16px;
}