@import url('./../../styles/variables.css');

.button {
    height: var(--default-button-size);
    width: var(--default-button-size);

    font-size: 32px;
    
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

}

.button:hover {
    opacity: 0.9;
    border-radius: 12px;
}