@import url('./../../styles/variables.css');

.button {
    height: var(--default-button-size/2);
    width: var(--default-button-size/2);
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;

    background-image: url('./../../../../public/copy.png');
}

.button:hover {
    opacity: 0.9;
}